/* General */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Color styles */
--footer-bg: #23272A;
--nav-bg: #255EE9;
--even-bg: #F6F6F6;
--odd-bg: #FFFFFF;
--secondary-text: #6B80CB;
--primary-text: #0B0B0B;

}
body{
    font-family: 'Noto Sans', sans-serif;
}
.debug{
    border: 1px solid black;
}

ul{
    list-style: none;
}

h1, p{
    padding-bottom: 2rem;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.odd{
    background-color: var(--odd-bg);
}

.even{
    background-color: var(--even-bg)
}

h2{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

h2>p{
    font-size: .5em;
}
/* button setting */
button{
    padding: .7rem;
    border: 0;
    border-radius: 20px;
}

.blackB{
    background-color: black;
    color: white;
    margin-left: 1rem;
}

.blueB{
    background-color: var(--secondary-text);
    color: white;
}
/* flex settings */

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

/* header */
/* nav config */
.navmain{
    background-color: var(--nav-bg);
    padding-top: 1rem;
}

nav{
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.info{
    color: white;
    width: 60%;
    justify-content: space-around;
}
/* //nav config */
/* jumbo config */
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height:40rem;
    
}

.intro{
    justify-content: center;
    align-content: center;
    color: white;
    width: 40%;
    text-align: center;
}

/* //jumbo config */

/* section config */

.section{
    justify-content: center;
    align-items: center;
    min-height: 40rem;
}
.image{
    min-width: 45%;
}
.description{
    width: 30%;
    text-align: left;
    color: var(--primary-text);
}

.reverse{
    flex-flow: row-reverse;
}

.sectionB{
    text-align: center;
    padding-top: 5rem;
}

.descriptionB{
    min-width: 75%;
    color: var(--primary-text);
}

.imageB{
    min-width: 100%;
}

.download-section{
    text-align: center;
    padding: 5rem;
    width: 40%;
    margin: 0 auto;
}

.readytostart{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 2rem;
}

.download-section button{
    margin-top: 2rem;
}
/* footer config */

footer{
    background-color: var(--footer-bg);
}


