/* General */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Color styles */
--footer-bg: #23272A;
--nav-bg: #255EE9;
--even-bg: #F6F6F6;
--odd-bg: #FFFFFF;
--secondary-text: #6B80CB;
--primary-text: #0B0B0B;

}

body{
    font-family: 'Noto Sans', sans-serif;
}

.debug{
    border: 1px solid black;
}